.navbar-nav a {
font-size: 18px;
}

.card{
    transition: all 0.5s ease;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
}

.product img {
    transition: all 0.5s ease;
}

.product img:hover{
    transform: scale(1.1);
}